.contact {
  grid-column: full-start / full-end;
  background-color: $color-prime;

  @include respond(phone) {
    margin-top: -2rem;
    padding: 3rem;
  }

  &__wrap {
    margin: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    // @include respond(phone) {
    //   flex-direction: column;
    // }

    &--text {

      &-main {
        font-size: 3.5rem;
        color: $color-main;
        font-weight: 500;
      }

      &-sub {
        font-size: 1.5rem;
        color: $color-main;
      }
    }
  }

  &__link {
    &:link,
    &:visited {
      transition: all 0.3s;
      font-size: 2rem;
      font-weight: 400;
      text-decoration: none;
      text-transform: uppercase;
      color: $color-main;

      @include respond(tab-port) {
        margin-left: -9rem;


      }
    }


    &--last {
      padding: 9px 25px;
      background-color: transparent;
      color: $color-main;
      border-radius: 10rem;
      border: 2px solid $color-main;

      &:hover{
        background-color: $color-main;
        border-radius: 10rem;
        color: $color-prime;
        transition: all 0.4s ease-out;
      }
    }
  }
}