.portfolio {
  grid-column: full-start / full-end;
  background-color: $color-main;
  margin-top: 3rem;

  @include respond(tab-port) {
    margin-top: 10rem;
  }

  &__header {
    font-size: 2.5rem;
    color: $color-sub-1;
    margin: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 6px;
    

    &--text {
      border-bottom: 5px solid $color-sub;
    }
  }

  &__box {
    // display: flex;
    background-color: $color-prime;
    margin: 7rem;
    padding: 3rem;
    border-radius: 2.5rem .7rem;
    // box-shadow: 0 2.5rem 3rem rgba(255, 255, 255, 0.671);
    transition: transform .3s;

    &--item {
      margin: 2rem;
      display: flex;
      justify-content: space-between;
    }

    &--text {
      color: $color-main;
      font-size: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 40%;

      @include respond(tab-port) {
        font-size: 2.5rem;
      }
    }

    &--img {
      width: 50%;
      border: 1.5rem solid $color-sub;
      border-radius: 3rem .7rem;
      transition: all .3s;

      @include respond(tab-port) {
        margin-right: 4rem;
        width: 60%;
        border: .5rem solid $color-sub;
        
        // grid-column: 6 / 9;
        // // grid-row: 2 / 3;
      }

      // @include respond(phone) {
      //   width: 60%;
      //   border: 1rem solid $color-sub;
      // }
    
  
      &:hover {
      transform: scale(1.05) translateY(-.5rem);
      box-shadow: 0 2.5rem 5rem rgba($color-main, .6);
      // z-index: 30;
      }
    }
  }
}

