* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem 10px, 10px/16px 62.5%

  @include respond(tab-land) {
    font-size: 56.25%;  // 1rem = 9px, 9/16 = 56.25% 
  }

  @include respond(tab-port) {
    font-size: 50%;  // 1rem = 8px, 8/16 = 50%
  }

  @include respond(phone) {
    font-size: 30%;  // 1rem = 4.8px, 4.8/16 = 0.3%
  }

  @include respond(big-desktop) {
    font-size: 75%;  // 1rem = 12px, 12/16 = 75%
  }
}

body {
  font-family: $font-primary;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-rows: 80vh min-content min-content 40vw repeat(4, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8,
  [col-start] minmax(min-content, 13rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

  &__2 {
    display: grid;
    grid-template-rows: 63vh min-content min-content;
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8,
    [col-start] minmax(min-content, 13rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

    @include respond(tab-land) {
      grid-template-rows: 53vh min-content min-content;
    }

    @include respond(tab-port) {
      grid-template-rows: 50vh min-content min-content;
    }

    @include respond(mobile-l) {
      grid-template-rows: 35vh min-content min-content;
    }
  }

  // @include respond(mobile-l) {
  //   overflow: hidden;
  // }
}