.heading-primary {
  position: absolute;
  top: 12rem;
  left: 5rem;
  color: $color-sub;
  text-transform: uppercase;

  // backface-visibility: hidden;
  display: flex;
  // display: inline-flex;
  align-items: center;

  // animation: type 3s steps(11);
  // overflow: hidden;
  // white-space: nowrap;
  // border-right: 3px solid #ff4500;
  // line-height: 1px;
  // width: 50%;
  // margin-left: -20rem;


  @include respond(mobile-l) {
    top: 33rem;
    left: 18rem;
  }

  &--main {
    display: block;
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 2rem;
    padding: 4rem;
    
    

    // animation-name: moveInLeft;
    // animation-duration: 2s;
    // animation-timing-function: ease-out;

    
    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 3.5rem;
      font-weight: 500;
    }
    /*animation-delay: 3s;
    */
    // &-here {
    //   color: #ff4500;
    // }
  }
 
  &--sub {
    display: block;
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 1.75rem;
    height: 37px;
    line-height: 37px;
    color: $color-prime;
    list-style: none;
    margin-top: -.4rem;
    margin-left: -4rem;
    overflow: hidden;

    // animation: moveInRight 2s ease-out;

    @include respond(phone) {
      height: 35px;
      line-height: 36px;
      letter-spacing: .5rem;
    }

    &-li {
      position: relative;
      top: 0;
      animation: slide 6s steps(3) infinite;
    }

    &-s {
      position: relative;
    }

    &-s::after {
      content: "";
      position: absolute;
      height: 125%;
      left: 0;
      width: 100%;
      // background: $color-main;
      // border-left: 2px solid $color-prime;
      // animation: type 1.5s steps(20) infinite;
    }
  }
}

%heading {
  font-family: $font-primary;
  font-weight: 400;
}

.heading-2 {
  @extend %heading;
  font-size: 4rem;
  font-style: italic;
  line-height: 1;

  // &--light { color: $color-grey-light-1; }
  &--dark { color: $color-sub; }
}

.heading-3 {
  @extend %heading;
  font-size: 1.8rem;
  color: $color-main;
  text-transform: uppercase;
}

.mb-sm { margin-bottom: 2rem; }
.mb-md { margin-bottom: 3rem; }

.heading-secondary { 
  color: $color-main;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  // background-image: linear-gradient(to right, black, rgba(255, 255, 0, 0.582));
  // -webkit-background-clip: text;
  letter-spacing: .2rem;
  // color: transparent;
  transition: all .2s;
  margin-top: 5rem;

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba(0, 0, 0, 0.541);
  }
}

.paragraph {
  font-size: 1.6rem;
  margin-bottom: 3rem;
  color: $color-main;

  // &:not(:last-child) {
  //   margin-bottom: 3rem;
  // }
}

.heading-tertiary {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
  color: $color-sub;
}
