// body {
//   font-family: $font-primary;
//   font-weight: 300;
//   line-height: 1.6;
// }
.social {
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  // align-items: center;
  transform: translate(-245px, 0);

  @include respond(tab-land) {
    margin-top: 24rem;
    transform: translate(-223px, 0);
  }
  @include respond(tab-port) {
    transform: translate(-199px, 0);
  }
  @include respond(phone) {
    transform: translate(-120px, 0);
  }

  &__a {
    // display: flex;
    color: $color-prime;
    background-color: rgba($color-sub, 0.5);
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    display: block;
    margin: 5px;
    padding: 1rem 2rem;
    width: 30rem;
    align-items: center;
    text-align: right;
    border-radius: 5rem;
    transition: 1s;
    transition-property: transform;

    &:hover {
      transform: translate(140px, 0);

      @include respond(phone) {
        transform: translate(80px, 0);
      } 
    }

    &:nth-child(1) i {
      color: rgba(64, 64, 247, 0.979);
    }
    &:nth-child(2) i {
      color: rgb(114, 114, 247);
    }
    &:nth-child(3) i {
      color: transparent;
      background-image: linear-gradient(45deg, #ffdf9e, #e56969, #8a49a1);
      -webkit-background-clip: text;
    }
  }

}

.social i {
  margin-left: 1rem;
  font-size: 3rem;
  width: 3rem;
  height: 3rem;
}


.head {
  grid-column: full-start / full-end;
  // margin: 10rem;
  background-image: url(../img/radowan-nakif-rehan-cYyqhdbJ9TI-unsplash.jpg);
  background-size: cover; 
  background-position: top;

  &__bg {
    background-color: rgba($color-sub, .7);
    width: 67rem;
    height: 23rem;
    position: absolute;
    top: 9.4rem;
    left: 30rem;
    border-radius: 1rem;

    @include respond(tab-land) {
      top: 18rem;
      left: 32rem;
    }

    @include respond(ipad-pro) {
      top: 26rem;
      left: 24.5rem;
    }

    @include respond(tab-port) {
      top: 20rem;
      left: 23rem;
    }

    @include respond(mobile-l) {
      width: 65rem;
      height: 15rem;
      top: 19rem;
      left: 11rem;
    }

    @include respond(mobile-m) {
      width: 50rem;
      height: 15rem;
      left: 14.5rem;
    }
  }

  &__text {
    padding: 7rem;
    text-align: center;
    color: $color-sub-1;
    font-size: 2.5rem;
    font-weight: 500;

    @include respond(phone) {
      padding: 4rem;
    }
  }
}

.header-contact {
  color: $color-sub-1;
  margin-bottom: 1.5rem;
}

.contactpg {
  padding: 7rem 0;
  background-color: $color-sub-1;
  grid-column: full-start / full-end;


  &__container {
    max-width: 1140px;
    // width: 50%;
    margin: 2rem 8rem;
    background-color: $color-main;
    background-size: 100%;
    border-radius: 2rem;
    box-shadow: 0 2rem 4rem rgba($color-main, .8);

    @include respond(phone) {
      height: 148rem;
    }
  }

  &__flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include respond(phone) {
      display: flex;
      flex-direction: column;
    }
  }

  &__formbox {
    order: 2;

    @include respond(mobile-l) {
      order: 0;
    }

    &--contentwrap {
      padding: 3rem !important;
      width: 100% !important;
      margin: -2rem -3rem;

      @include respond(mobile-l) {
        margin: 0;
        padding: 3rem 8rem !important;
      }
    }
  }

  &__formmessage-warning {
    color: #ff0000;
  }

  &__formmessage-success {
    color: #008000;
    font-size: 18px;
    font-weight: bold;
  }

  &__formmessage-warning,
  &__formmessage-success {
    display: none;

    &-mb {
      margin-bottom: 1.5rem !important;
    }
  }

  .mb-4 {
    margin-bottom: 1.5rem !important;
  }

  &__desc {
    background-color: $color-sub;
    border-radius: 1rem;
    margin: 1rem 6rem 1rem 1rem;

    @include respond(mobile-l) {
      margin: 8rem 2rem 0 2rem;
    }
  }

  &__infowrap {
    padding: 0rem 7rem !important;
    margin-bottom: 5rem;
  }

  &__infowrap{
    color: rgba(255,255,255,.8);
    h3{
      color:#fff;
    }
    .dbox{
      width: 100%;
      color: rgba(255,255,255,.8);
      margin-bottom: 25px;
      &:last-child(){
        margin-bottom: 0;
      }
      p{
        margin-bottom: 0;
        font-size: 2rem;
        span{
          font-weight: 500;
          color: #fff;
        }
        a{
          color: #fff;
        }
      }
      .icon{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid rgba(255,255,255,.2);
        span{
          font-size: 20px;
          color: #fff;
        }
      }
      .text{
        width: calc(100% - 50px);
      }

      .pl-3 {
        padding-left: 2rem !important;
      }
    }
  }

  &__contactForm--flex {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;

    @include respond(mobile-l) {
      display: block;
    }

    &-item1 {
      flex: 0 0 50%;
      max-width: 50%;
    }

    &-item2 {
      flex: 0 0 100%;
      max-width: 100%;
    }

    &-form-group {
      margin-bottom: 1rem;

      .label {
        color: $color-sub-1;
        text-transform: uppercase;
        font-size: 1.7rem;
        font-weight: 500;

        display: inline-block;
        margin-bottom: 0.5rem;
      }

      .form-control-1 {
        width: 90%;

        @include respond(mobile-l) {
          width: 200%;
        }
      }

      .form-control {
        outline: none;
        border: none;
        border-bottom: 1px solid $color-sub;
        padding: 0;
        font-size: 1.5rem;
        // width: 100%;

        height: 3.6rem;
        background-color: $color-main;
        color: $color-sub-1;

        &::-webkit-input-placeholder {
          color: $color-sub-1;
          text-transform: uppercase;
          font-size: 1.5rem;
          font-weight: 200;
          font-family: $font-primary;
        }

        &:focus, &:active {
          border-color: $color-sub-1;
        }
      }
    }

    .btn {
      background-color: $color-sub;
      color: $color-sub-1;
      margin-top: 1.5rem;

      @include respond(mobile-l) {
        margin-top: 5.5rem;
      }
    }
  }

  .row {
    display: grid;
  }
}

textarea.form-control {
	height: 6rem !important;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.w-100 {
  width: 100% !important;
}

.paragraph-p {
  font-size: 2rem;
  font-weight: 400;
}

// .footer {
//   grid-column: full-start / full-end;
  
//   &__wrap {
//   margin: 0rem;
//   padding: 3rem;
//   margin-left: 7rem;
//   }
// }