// body {
//   font-family: $font-primary;
//   font-weight: 300;
//   line-height: 1.6;
// }


.head {
  height: 63vh;
  // margin: 10rem;
  background-image: url(../img/radowan-nakif-rehan-cYyqhdbJ9TI-unsplash.jpg);
  background-size: cover; 
  background-position: top;

  &__bg {
    background-color: rgba($color-sub, .7);
    width: 67rem;
    height: 23rem;
    position: absolute;
    top: 9.4rem;
    border-radius: 1rem;
    margin-left: 30rem;

    @include respond(phone) {
      width: 49rem;
      height: 15rem;
      position: absolute;
      top: 8.4rem;
      right: 5rem;
    }
  }

  &__text {
    padding: 7rem;
    text-align: center;
    color: $color-sub-1;
    font-size: 2.5rem;
    font-weight: 500;

    @include respond(phone) {
      padding: 4rem;
    }
  }
}

.header-contact {
  color: $color-sub-1;
  margin-bottom: 1.5rem;
}

.contactpg {
  padding: 7em 0;
  background-color: $color-sub-1;


  &__container {
    max-width: 1140px;
    // width: 50%;
    margin: 2rem 8rem;
    background-color: $color-main;
    background-size: 100%;
    border-radius: 2rem;
    box-shadow: 0 2rem 4rem rgba($color-main, .8);

    @include respond(phone) {
      height: 100rem;
    }
  }

  &__flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include respond(phone) {
      display: flex;
      flex-direction: column;
    }
  }

  &__formbox {
    order: 2;

    &--contentwrap {
      padding: 3rem !important;
      width: 100% !important;
    }
  }

  &__formmessage-warning {
    color: red;
  }

  &__formmessage-success {
    color: green;
    font-size: 18px;
    font-weight: bold;
  }

  &__formmessage-warning,
  &__formmessage-success {
    display: none;

    &-mb {
      margin-bottom: 1.5rem !important;
    }
  }

  .mb-4 {
    margin-bottom: 1.5rem !important;
  }

  &__desc {
    background-color: gray;
    border-radius: 1rem;
    margin: 1rem;
  }

  &__infowrap {
    padding: 3rem !important;  
  }

  &__infowrap{
    color: rgba(255,255,255,.8);
    h3{
      color:white;
    }
    .dbox{
      width: 100%;
      color: rgba(255,255,255,.8);
      margin-bottom: 25px;
      &:last-child(){
        margin-bottom: 0;
      }
      p{
        margin-bottom: 0;
        font-size: 2rem;
        span{
          font-weight: 500;
          color: white;
        }
        a{
          color: white;
        }
      }
      .icon{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid rgba(255,255,255,.2);
        span{
          font-size: 20px;
          color: white;
        }
      }
      .text{
        width: calc(100% - 50px);
      }

      .pl-3 {
        padding-left: 2rem !important;
      }
    }
  }

  &__contactForm--flex {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;

    &-item1 {
      flex: 0 0 50%;
      max-width: 50%;
    }

    &-item2 {
      flex: 0 0 100%;
      max-width: 100%;
    }

    &-form-group {
      margin-bottom: 1rem;

      .label {
        color: $color-sub-1;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 300;

        display: inline-block;
        margin-bottom: 0.5rem;
      }

      .form-control {
        outline: none;
        border: none;
        border-bottom: 1px solid $color-sub;
        padding: 0;
        font-size: 1.5rem;

        height: 3.6rem;
        background-color: $color-main;
        color: $color-sub-1;
      }
    }

    .btn {
      background-color: $color-sub;
      color: $color-sub-1;
      margin-top: 1.5rem;
    }
  }

  .row {
    display: grid;
  }
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.w-100 {
  width: 100% !important;
}

.paragraph-p {
  font-size: 2rem;
  font-weight: 400;
}

.footer__wrap {
  margin: 0rem;
  padding: 3rem;
  margin-left: 7rem;
}