.section__story {
  grid-column: full-start / full-end;
  position: relative;
  padding: 10rem 0;

  @include respond(tab-port) {
    padding: 8rem;
  }

  @include respond(phone) {
    padding: 6rem;
  }
}