.footer {
  grid-column: full-start / full-end;
  background-color: $color-main;
  

  &__wrap{
    margin: 5rem 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.copyright {
  font-size: 2rem;
  font-weight: 500;
  color: $color-sub;
  display: flex;
  align-self: flex-end;

  span {
    color: $color-sub-1;
  }

  @include respond(phone) {
    align-self: flex-end;
  }
}