.footer {
  grid-column: full-start / full-end;
  background-color: $color-main;
  

  &__wrap{
    margin: 3rem;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
  }
}

.copyright {
  font-size: 2rem;
  font-weight: 500;
  color: $color-sub;
  display: flex;
  justify-content: center;
  align-items: center;

  &__span {
    font-size: 2.8rem;
    margin: 1.1rem .5rem 0 0;
  }

  span {
    color: $color-sub-1;
  }
}